# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: requirements-txt-fixer
    -   id: check-json
    -   id: check-yaml
    -   id: check-ast
    -   id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3 # Ruff version.
  hooks:
    - id: ruff  # Run the linter.
      args: [--fix, timebasedcv, tests]
    - id: ruff-format # Run the formatter.
      args: [timebasedcv, tests]
-   repo: https://github.com/Lucas-C/pre-commit-hooks-bandit
    rev: v1.0.6
    hooks:
    -   id: python-bandit-vulnerability-check
        args: [--skip, "B101",--severity-level, medium,  --recursive, timebasedcv]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-no-eval
-   repo: https://github.com/crate-ci/typos
    rev: v1.39.0
    hooks:
    -   id: typos
