# Project information
site_name: Timebased CV
site_url: https://fbruzzesi.github.io/timebasedcv/
site_author: Francesco Bruzzesi
site_description: Time based splits for cross validation

# Repository information
repo_name: FBruzzesi/timebasedcv
repo_url: https://github.com/fbruzzesi/timebasedcv
edit_uri: edit/main/docs/

# Configuration
watch:
  - timebasedcv
use_directory_urls: true
theme:
  name: material
  font: false
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: teal
    accent: deep-orange
    toggle:
      icon: material/lightbulb
      name: Switch to light mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: teal
    accent: deep-orange
    toggle:
      icon: material/lightbulb-outline
      name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - navigation.top
    - navigation.tracking

    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - content.tabs.link

    - search.suggest
    - search.highlight
    - search.share

    - toc.follow

  logo: img/timebasedcv-logo.png
  favicon: img/timebasedcv-logo.png

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - mkdocstrings:
      handlers:
        python:
          import:
          - https://installer.readthedocs.io/en/stable/objects.inv
          rendering:
            show_signature_annotations: true

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/fbruzzesi
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/francesco-bruzzesi/
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/timebasedcv/

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tilde
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true


nav:
  - Home:
    - Home: index.md
    - Installation: installation.md
    - Contributing: contribute.md
  - User Guide:
    - Getting Started: user-guide/getting-started.md
    - Advanced Features: user-guide/advanced.md
    - Scikit-learn Compatibility: user-guide/scikit-learn.md
  - API Reference:
    - api/index.md
    - api/timebasedcv.md
    - api/core.md
    - api/sklearn.md
    - api/splitstate.md
