name: Check links

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main

jobs:

  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Markup Link Checker (mlc)
        uses: becheran/mlc@v1.2.0
        # from https://github.com/becheran/mlc
