name: Check spelling typos

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main

jobs:

  run-typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Check spelling
        uses: crate-ci/typos@master
        with:
          files: .
